//////////////////////////////////////////////////////////////////////
///////////////////////////// SCAFFOLDING ////////////////////////////
//////////////////////////////////////////////////////////////////////

// Baseline --------------------------------------------------------- /

+establish-baseline(16px)
+to($tablet)
  +establish-baseline(17px)

// Body ------------------------------------------------------------ /

html, body
  padding: 0

body
  +font-size(1rem)
  @extend %block-noise
  font-family: $font-slab
  font-weight: 500

// Container ------------------------------------------------------- /

#container
  @extend %container-wide
  max-width: 90%
  +to($wider)
    max-width: 100%